services:
  - type: web
    name: medicine-scraper
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    envVars:
      - key: CHROME_BIN
        value: /usr/bin/chromium-browser
